niptplus/data/input filter=lfs diff=lfs merge=lfs -text
niptplus/data/refs filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03765.R1.clean.fastq.gz.PQ.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03768.R1.clean.fastq.gz.20K.GC.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03769.R1.clean.fastq.gz.PQ.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03781.R1.clean.fastq.gz.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03782.R1.clean.fastq.gz.20K.GC.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03783.R1.clean.fastq.gz.PQ.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/refs/pca_data/refs filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03767.R1.clean.fastq.gz.20K.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03770.R1.clean.fastq.gz.20K.GC.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03771.R1.clean.fastq.gz.20K.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03776.R1.clean.fastq.gz.PQ.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03778.R1.clean.fastq.gz.20K.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/report filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03772.R1.clean.fastq.gz.20K.GC.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03774.R1.clean.fastq.gz.PQ.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03775.R1.clean.fastq.gz.20K.GC.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03775.R1.clean.fastq.gz.Virus.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03777.R1.clean.fastq.gz.Virus.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03782.R1.clean.fastq.gz.PQ.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03768.R1.clean.fastq.gz.PQ.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03768.R1.clean.fastq.gz.Virus.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03772.R1.clean.fastq.gz.Virus.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03773.R1.clean.fastq.gz.20K.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03778.R1.clean.fastq.gz.PQ.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03780.R1.clean.fastq.gz.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03783.R1.clean.fastq.gz.20K.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03767.R1.clean.fastq.gz.Virus.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03770.R1.clean.fastq.gz.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03772.R1.clean.fastq.gz.20K.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03776.R1.clean.fastq.gz.20K.GC.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03780.R1.clean.fastq.gz.PQ.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03765.R1.clean.fastq.gz.20K.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03767.R1.clean.fastq.gz.20K.GC.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03773.R1.clean.fastq.gz.Virus.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03781.R1.clean.fastq.gz.PQ.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03782.R1.clean.fastq.gz.20K.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03783.R1.clean.fastq.gz.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03783.R1.clean.fastq.gz.20K.GC.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03767.R1.clean.fastq.gz.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03769.R1.clean.fastq.gz.Virus.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03770.R1.clean.fastq.gz.20K.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03771.R1.clean.fastq.gz.20K.GC.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03771.R1.clean.fastq.gz.Virus.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03773.R1.clean.fastq.gz.20K.GC.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03776.R1.clean.fastq.gz.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03766.R1.clean.fastq.gz.20K.GC.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03766.R1.clean.fastq.gz.Virus.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03767.R1.clean.fastq.gz.PQ.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03772.R1.clean.fastq.gz.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03774.R1.clean.fastq.gz.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03776.R1.clean.fastq.gz.Virus.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03777.R1.clean.fastq.gz.20K.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03766.R1.clean.fastq.gz.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03769.R1.clean.fastq.gz.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03770.R1.clean.fastq.gz.Virus.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03771.R1.clean.fastq.gz.PQ.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03771.R1.clean.fastq.gz.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03779.R1.clean.fastq.gz.Virus.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/refs/pca_data/20K.CHRs.block filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03766.R1.clean.fastq.gz.20K.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03768.R1.clean.fastq.gz.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03772.R1.clean.fastq.gz.PQ.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03777.R1.clean.fastq.gz.PQ.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03781.R1.clean.fastq.gz.20K.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03780.R1.clean.fastq.gz.20K.GC.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03768.R1.clean.fastq.gz.20K.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03769.R1.clean.fastq.gz.20K.GC.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03769.R1.clean.fastq.gz.20K.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03774.R1.clean.fastq.gz.20K.GC.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03775.R1.clean.fastq.gz.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03777.R1.clean.fastq.gz.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03778.R1.clean.fastq.gz.Virus.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03780.R1.clean.fastq.gz.20K.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03782.R1.clean.fastq.gz.Virus.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03770.R1.clean.fastq.gz.PQ.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03773.R1.clean.fastq.gz.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03774.R1.clean.fastq.gz.20K.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03777.R1.clean.fastq.gz.20K.GC.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/refs/trim_data/20K_bins_complex.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03765.R1.clean.fastq.gz.20K.GC.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03765.R1.clean.fastq.gz.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03775.R1.clean.fastq.gz.PQ.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03779.R1.clean.fastq.gz.20K.GC.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03779.R1.clean.fastq.gz.20K.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03779.R1.clean.fastq.gz.PQ.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03782.R1.clean.fastq.gz.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03766.R1.clean.fastq.gz.PQ.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03781.R1.clean.fastq.gz.20K.GC.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03781.R1.clean.fastq.gz.Virus.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03773.R1.clean.fastq.gz.PQ.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03778.R1.clean.fastq.gz.20K.GC.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03779.R1.clean.fastq.gz.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/refs/hmm/disease.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03765.R1.clean.fastq.gz.Virus.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03774.R1.clean.fastq.gz.Virus.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03775.R1.clean.fastq.gz.20K.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03776.R1.clean.fastq.gz.20K.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03778.R1.clean.fastq.gz.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03780.R1.clean.fastq.gz.Virus.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03783.R1.clean.fastq.gz.Virus.txt filter=lfs diff=lfs merge=lfs -text
