niptplus/data/input filter=lfs diff=lfs merge=lfs -text
niptplus/data/refs filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03765.R1.clean.fastq.gz.PQ.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03768.R1.clean.fastq.gz.20K.GC.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03769.R1.clean.fastq.gz.PQ.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03781.R1.clean.fastq.gz.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03782.R1.clean.fastq.gz.20K.GC.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03783.R1.clean.fastq.gz.PQ.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/refs/pca_data/refs filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03767.R1.clean.fastq.gz.20K.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03770.R1.clean.fastq.gz.20K.GC.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03771.R1.clean.fastq.gz.20K.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03776.R1.clean.fastq.gz.PQ.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03778.R1.clean.fastq.gz.20K.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/report filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03772.R1.clean.fastq.gz.20K.GC.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03774.R1.clean.fastq.gz.PQ.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03775.R1.clean.fastq.gz.20K.GC.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03775.R1.clean.fastq.gz.Virus.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03777.R1.clean.fastq.gz.Virus.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03782.R1.clean.fastq.gz.PQ.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03768.R1.clean.fastq.gz.PQ.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03768.R1.clean.fastq.gz.Virus.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03772.R1.clean.fastq.gz.Virus.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03773.R1.clean.fastq.gz.20K.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03778.R1.clean.fastq.gz.PQ.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03780.R1.clean.fastq.gz.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03783.R1.clean.fastq.gz.20K.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03767.R1.clean.fastq.gz.Virus.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03770.R1.clean.fastq.gz.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03772.R1.clean.fastq.gz.20K.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03776.R1.clean.fastq.gz.20K.GC.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03780.R1.clean.fastq.gz.PQ.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03765.R1.clean.fastq.gz.20K.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03767.R1.clean.fastq.gz.20K.GC.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03773.R1.clean.fastq.gz.Virus.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03781.R1.clean.fastq.gz.PQ.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03782.R1.clean.fastq.gz.20K.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03783.R1.clean.fastq.gz.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03783.R1.clean.fastq.gz.20K.GC.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03767.R1.clean.fastq.gz.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03769.R1.clean.fastq.gz.Virus.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03770.R1.clean.fastq.gz.20K.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03771.R1.clean.fastq.gz.20K.GC.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03771.R1.clean.fastq.gz.Virus.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03773.R1.clean.fastq.gz.20K.GC.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03776.R1.clean.fastq.gz.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03766.R1.clean.fastq.gz.20K.GC.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03766.R1.clean.fastq.gz.Virus.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03767.R1.clean.fastq.gz.PQ.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03772.R1.clean.fastq.gz.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03774.R1.clean.fastq.gz.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03776.R1.clean.fastq.gz.Virus.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03777.R1.clean.fastq.gz.20K.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03766.R1.clean.fastq.gz.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03769.R1.clean.fastq.gz.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03770.R1.clean.fastq.gz.Virus.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03771.R1.clean.fastq.gz.PQ.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03771.R1.clean.fastq.gz.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03779.R1.clean.fastq.gz.Virus.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/refs/pca_data/20K.CHRs.block filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03766.R1.clean.fastq.gz.20K.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03768.R1.clean.fastq.gz.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03772.R1.clean.fastq.gz.PQ.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03777.R1.clean.fastq.gz.PQ.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03781.R1.clean.fastq.gz.20K.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03780.R1.clean.fastq.gz.20K.GC.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03768.R1.clean.fastq.gz.20K.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03769.R1.clean.fastq.gz.20K.GC.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03769.R1.clean.fastq.gz.20K.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03774.R1.clean.fastq.gz.20K.GC.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03775.R1.clean.fastq.gz.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03777.R1.clean.fastq.gz.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03778.R1.clean.fastq.gz.Virus.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03780.R1.clean.fastq.gz.20K.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03782.R1.clean.fastq.gz.Virus.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03770.R1.clean.fastq.gz.PQ.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03773.R1.clean.fastq.gz.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03774.R1.clean.fastq.gz.20K.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03777.R1.clean.fastq.gz.20K.GC.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/refs/trim_data/20K_bins_complex.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03765.R1.clean.fastq.gz.20K.GC.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03765.R1.clean.fastq.gz.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03775.R1.clean.fastq.gz.PQ.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03779.R1.clean.fastq.gz.20K.GC.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03779.R1.clean.fastq.gz.20K.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03779.R1.clean.fastq.gz.PQ.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03782.R1.clean.fastq.gz.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03766.R1.clean.fastq.gz.PQ.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03781.R1.clean.fastq.gz.20K.GC.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03781.R1.clean.fastq.gz.Virus.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03773.R1.clean.fastq.gz.PQ.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03778.R1.clean.fastq.gz.20K.GC.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03779.R1.clean.fastq.gz.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/refs/hmm/disease.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03765.R1.clean.fastq.gz.Virus.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03774.R1.clean.fastq.gz.Virus.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03775.R1.clean.fastq.gz.20K.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03776.R1.clean.fastq.gz.20K.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03778.R1.clean.fastq.gz.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03780.R1.clean.fastq.gz.Virus.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/input/151015_NS500132_0225_AHGT37BGXX/15HR03783.R1.clean.fastq.gz.Virus.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/refs/pca_data/refs/hk.chr11.RD.PCs.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/refs/pca_data/refs/hk.chr22.RD.PCs.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/refs/pca_data/refs/hk.chr4.RD.SD_DIS.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/refs/pca_data/refs/hk.chr6.RD.PCs.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/refs/pca_data/refs/hk.chr7.RD.mean_sd.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/refs/pca_data/refs/hk.chr8.RD.mean_sd.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/refs/pca_data/refs/hk.chr12.RD.SD_DIS.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/refs/pca_data/refs/hk.chr17.RD.mean_sd.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/refs/pca_data/refs/hk.chr21.RD.PCs.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/refs/pca_data/refs/hk.chr22.RD.mean_sd.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/refs/pca_data/refs/hk.chr3.RD.mean_sd.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/refs/pca_data/refs/hk.chr7.RD.PCs.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/refs/pca_data/refs/hk.chr10.RD.mean_sd.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/refs/pca_data/refs/hk.chr15.RD.PCs.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/refs/pca_data/refs/hk.chr2.RD.SD_DIS.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/refs/pca_data/refs/hk.chr5.RD.mean_sd.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/refs/pca_data/refs/hk.chr18.RD.PCs.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/refs/pca_data/refs/hk.chr20.RD.PCs.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/refs/pca_data/refs/hk.chr4.RD.PCs.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/refs/pca_data/refs/hk.chr16.RD.SD_DIS.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/refs/pca_data/refs/hk.chr18.RD.mean_sd.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/refs/pca_data/refs/hk.chr19.RD.PCs.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/refs/pca_data/refs/hk.chr20.RD.mean_sd.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/refs/pca_data/refs/hk.chr3.RD.PCs.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/refs/pca_data/refs/hk.chr9.RD.mean_sd.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/refs/pca_data/refs/hk.chr10.RD.SD_DIS.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/refs/pca_data/refs/hk.chr4.RD.mean_sd.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/refs/pca_data/refs/hk.chr6.RD.mean_sd.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/refs/pca_data/refs/hk.chr14.RD.mean_sd.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/refs/pca_data/refs/hk.chr14.RD.SD_DIS.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/refs/pca_data/refs/hk.chr1.RD.SD_DIS.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/refs/pca_data/refs/hk.chr2.RD.mean_sd.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/refs/pca_data/refs/hk.chr17.RD.PCs.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/refs/pca_data/refs/hk.chr21.RD.mean_sd.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/refs/pca_data/refs/hk.chr13.RD.mean_sd.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/refs/pca_data/refs/hk.chr13.RD.PCs.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/refs/pca_data/refs/hk.chr5.RD.PCs.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/refs/pca_data/refs/hk.chr9.RD.PCs.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/refs/pca_data/refs/hk.chr10.RD.PCs.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/refs/pca_data/refs/hk.chr11.RD.mean_sd.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/refs/pca_data/refs/hk.chr13.RD.SD_DIS.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/refs/pca_data/refs/hk.chr15.RD.mean_sd.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/refs/pca_data/refs/hk.chr18.RD.SD_DIS.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/refs/pca_data/refs/hk.chr20.RD.SD_DIS.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/refs/pca_data/refs/hk.chr12.RD.PCs.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/refs/pca_data/refs/hk.chr15.RD.SD_DIS.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/refs/pca_data/refs/hk.chr16.RD.mean_sd.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/refs/pca_data/refs/hk.chr19.RD.SD_DIS.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/refs/pca_data/refs/hk.chr1.RD.mean_sd.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/refs/pca_data/refs/hk.chr2.RD.PCs.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/refs/pca_data/refs/hk.chr5.RD.SD_DIS.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/refs/pca_data/refs/hk.chr9.RD.SD_DIS.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/refs/pca_data/refs/hk.chr16.RD.PCs.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/refs/pca_data/refs/hk.chr22.RD.SD_DIS.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/refs/pca_data/refs/hk.chr8.RD.PCs.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/refs/pca_data/refs/hk.chr11.RD.SD_DIS.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/refs/pca_data/refs/hk.chr19.RD.mean_sd.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/refs/pca_data/refs/hk.chr7.RD.SD_DIS.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/refs/pca_data/refs/hk.chr1.RD.PCs.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/refs/pca_data/refs/hk.chr21.RD.SD_DIS.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/refs/pca_data/refs/hk.chr3.RD.SD_DIS.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/refs/pca_data/refs/hk.chr8.RD.SD_DIS.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/refs/pca_data/refs/hk.chr6.RD.SD_DIS.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/refs/pca_data/refs/hk.chr12.RD.mean_sd.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/refs/pca_data/refs/hk.chr14.RD.PCs.txt filter=lfs diff=lfs merge=lfs -text
niptplus/data/refs/pca_data/refs/hk.chr17.RD.SD_DIS.txt filter=lfs diff=lfs merge=lfs -text
